header {
    background-color:#F44336;
}

h1 {
    font-size: 225% !important;
    color: white;
    text-align: center;
}

h2 {
    font-size: 200% !important;
    font-weight: bold !important;
    text-align: center;
}

a {
    color: black;
}

img {
    max-width: 80% !important;
}

.fix-btn-left {
    position: fixed;
    left: 23px;
}

.card-title {
    font-size: 115%;
}

.date {
    font-size: 80%;
}


